{% extends 'base.html.twig' %}

{% block title %}Gge Parrot - Horaire d'ouverture
{% endblock %}

{% block body %}
	<div class="text-center">
		<div class="container-fluid py-5">
			<h1 class="titrePages display-5 fw-bold">Liste des messages reçu</h1>
			<p class="titrePages fs-4">Il y a actuellement
				{{ (messages|length > 0) ? messages.getTotalItemCount : '0' }}
				message{{ (messages|length > 1) ? 's' : '' }}
				reçu{{ (messages|length > 1) ? 's' : '' }}</p>
		</div>
	</div>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success mt-4">
			{{ message }}
		</div>
	{% endfor %}
	<div class="row">
		<div class="col-sm-12">
			{% if messages|length > 0 %}
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Nom, prénom</th>
							<th scope="col">Email</th>
							<th scope="col">Téléphone</th>
							<th scope="col">Sujet</th>
							<th scope="col">Message</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for message in messages %}
							<tr>
								<td scope="row">{{message.nameCustomer }} {{ message.firstNameCustomer }}</td>
								<td>{{ message.email }}</td>
								<td>{{ message.telephone }}</td>
								<td>{{ message.subject }}</td>
								<td>{{ message.message }}</td>
								<td>
									<a class="btn btn-outline-danger btn-sm" href="{{ path('messages.delete', { id: message.id }) }}">Supprimer</a>
								</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>
			{% endif %}
		</div>
	</div>
{% endblock %}
