{% extends 'base.html.twig' %}

{% block title %}Gge Parrot - Envoyer un message
{% endblock %}

{% block body %}
	<div class="text-center">
		<div class="container-fluid py-5">
			<h1 class="titrePages display-5 fw-bold">Envoyer un message</h1>
		</div>
	</div>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success mt-4">
			{{ message }}
		</div>
	{% endfor %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6">


				{% include 'pages/_formContact.html.twig' with {contact_form: contact_form} only %}
				{# {{ form_start(form) }}
								<div class="form-error">
									{{ form_errors(form) }}
								</div>
				
								<div class="row">
									<div class="form-group">
										{{ form_label(form.nameCustomer) }}
										{{ form_widget(form.nameCustomer) }}
										<div class="form-errors">{{ form_errors(form.nameCustomer) }}</div>
									</div>
									<div class="form-group">
										{{ form_label(form.firstNameCustomer) }}
										{{ form_widget(form.firstNameCustomer) }}
										<div class="form-errors">{{ form_errors(form.firstNameCustomer) }}</div>
									</div>
									<div class="form-group">
										{{ form_label(form.email) }}
										{{ form_widget(form.email) }}
										<div class="form-errors">{{ form_errors(form.email) }}</div>
									</div>
									<div class="form-group">
										{{ form_label(form.telephone) }}
										{{ form_widget(form.telephone) }}
										<div class="form-errors">{{ form_errors(form.telephone) }}</div>
									</div>
									<div class="form-group">
										{{ form_label(form.subject) }}
										{{ form_widget(form.subject) }}
										<div class="form-errors">{{ form_errors(form.subject) }}</div>
									</div>
									<div class="form-group">
										{{ form_label(form.message) }}
										{{ form_widget(form.message) }}
										<div class="form-errors">{{ form_errors(form.message) }}</div>
									</div>
				
									<div class="form-group">
										<button type="submit" class="btn btn-success mt-4">Envoyer le message</button>
									</div>
								</div>
								{{ form_end(form) }} #}
			</div>
		</div>
	</div>
{% endblock %}
