{% extends "base.html.twig" %}

{% block title %}Garage Parrot - Accueil
{% endblock %}

{% block body %}

	<div class="text-center">
		<div class="container-fluid py-5">
			<h1 class="titrePages display-5 fw-bold">Adresse du garage</h1>
			<p class="titrePages fs-4"></p>
		</div>
	</div>
	<div class="row">
		{% for gge in garage %}
			<div class="col-sm-12 text-center">
				<h5>Note moyenne laissée par nos clients :
					{{gge.average}}/5</h5>
			</div>
			<div class="col-sm-12 text-center mt-5">
				<address>
					<strong>{{gge.name}}</strong><br/>
					{{gge.adresse}}<br/>
					{{gge.zipCode}}
					{{gge.city}}<br/>
				</address>

				<address>
					<strong>Mail et téléphone</strong><br/>
					<a href="mailto:#">{{gge.mail}}</a><br/>
					{{gge.phone}}
				</address>
			</div>
		{% endfor %}
	</div>

{% endblock %}
