<footer class="bd-footer mt-4">
	<div class="container">
		<hr/><br>
		<div class="row">
			<section class="col">
				<table class="">
					<thead>
						<tr>
							<th scope="col" class="bgTable"></th>
							<th scope="col" class="bgTable">Matin</th>
							<th scope="col" class="bgTable">Après-midi</th>
						</tr>
					</thead>
					<tbody>
						{% for hour in hour.getHours %}
							<tr>
								<th scope="row" class="pr-2">{{hour.dayWeek}}</th>
								<td class="px-2">
									{{ (hour.morningOpenHours is same as('Fermé')) ? '' : hour.morningOpenHours ~ " - "}}
									{{ (hour.morningCloseHours is same as('Fermé')) ? 'Fermé' : hour.morningCloseHours }}
								</td>
								<td class="px-2">
									{{ (hour.afternoonOpenHours is same as('Fermé')) ? '' : hour.afternoonOpenHours ~ " - " }}
									{{ (hour.afternoonCloseHours is same as('Fermé')) ? 'Fermé' : hour.afternoonCloseHours }}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
			<section class="col">
				&copy; Copyright 2023 Garage V. Parrot
			</section>
		</div>
	</div>
</footer>


{# 

		<hr/><br>
		<div class="row mb-3 text-center">
			<div class="col-md-6 text-body-secondary">
				<h6>Contact</h6>
				<p>
					Mail : garage-parrot@exemple.fr<br>
					Téléphone : 04.50.10.10.10
				</p>

			</div>
			<div class="col-md-6 text-body-secondary">
				<h6>Horaires d'ouverture</h6>
				<table class="table table-sm">
					<thead>
						<tr>
							<th scope="col" class="bgTable"></th>
							<th scope="col" class="bgTable">Matin</th>
							<th scope="col" class="bgTable">Après-midi</th>
						</tr>
					</thead>
					<tbody>
						{% for hour in hours %}
							<tr>
								<th scope="row">{{hour.dayWeek}}</th>
								<td class="{{ (hour.morningOpenHours is not null and hour.morningCloseHours is not null or hour.afternoonOpenHours is not null and hour.afternoonCloseHours is not null) ? 'table-success' : 'table-danger' }}">
									<?php echo !is_null($hour->morningOpenHours) ? date('H:i', strtotime($hour->morningOpenHours)) . " - " : ""; ?>
									<?php echo !is_null($hour->morningCloseHours) ? date('H:i', strtotime($hour->morningCloseHours)) : "Fermé"; ?>
								</td>
								<td class="<?php echo !is_null($hour->morningOpenHours) && !is_null($hour->morningCloseHours) && !is_null($hour->afternoonOpenHours) && !is_null($hour->afternoonCloseHours) ? 'table-success' : 'table-danger' ?>">
									<?php echo !is_null($hour->afternoonOpenHours) ? date('H:i', strtotime($hour->afternoonOpenHours)) . " - " : ""; ?>
									<?php echo !is_null($hour->afternoonCloseHours) ? date('H:i', strtotime($hour->afternoonCloseHours)) : "Fermé"; ?>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	 #}
