<div class="bg-white p-3 contact-form">
	<div class="form-group">
		{{ form_start(contact_form) }}

		<div class="form-error">
			{{ form_errors(contact_form) }}
		</div>

		<div class="row">
			<div class="form-group">
				{{ form_label(contact_form.nameCustomer) }}
				{{ form_widget(contact_form.nameCustomer) }}
				<div class="form-errors">{{ form_errors(contact_form.nameCustomer) }}</div>
			</div>
			<div class="form-group">
				{{ form_label(contact_form.firstNameCustomer) }}
				{{ form_widget(contact_form.firstNameCustomer) }}
				<div class="form-errors">{{ form_errors(contact_form.firstNameCustomer) }}</div>
			</div>
			<div class="form-group">
				{{ form_label(contact_form.email) }}
				{{ form_widget(contact_form.email) }}
				<div class="form-errors">{{ form_errors(contact_form.email) }}</div>
			</div>
			<div class="form-group">
				{{ form_label(contact_form.telephone) }}
				{{ form_widget(contact_form.telephone) }}
				<div class="form-errors">{{ form_errors(contact_form.telephone) }}</div>
			</div>
			<div class="form-group">
				{{ form_label(contact_form.subject) }}
				{{ form_widget(contact_form.subject) }}
				<div class="form-errors">{{ form_errors(contact_form.subject) }}</div>
			</div>
			<div class="form-group">
				{{ form_label(contact_form.message) }}
				{{ form_widget(contact_form.message) }}
				<div class="form-errors">{{ form_errors(contact_form.message) }}</div>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-success mt-4">Envoyer le message</button>
			</div>
		</div>

		{{ form_end(contact_form) }}
	</div>
</div>
