{% extends 'base.html.twig' %}

{% block title %}Gge Parrot - Ajouter un horaire
{% endblock %}

{% block body %}
	<div class="text-center">
		<div class="container-fluid py-5">
			<h1 class="titrePages display-5 fw-bold">Ajouter un horaire</h1>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				{{ form_start(form) }}
				<div class="form-error">
					{{ form_errors(form) }}
				</div>

				<div class="row">
					<div class="form-group">
						{{ form_label(form.dayWeek) }}
						{{ form_widget(form.dayWeek) }}
						<div class="form-errors">{{ form_errors(form.dayWeek) }}</div>
					</div>
					<div class="form-check">
						{{ form_label(form.is_open) }}
						{{ form_widget(form.is_open) }}
						<div class="form-errors">{{ form_errors(form.is_open) }}</div>
					</div>
					<div class="form-group">
						{{ form_label(form.morning_open_hours) }}
						{{ form_widget(form.morning_open_hours) }}
						<div class="form-errors">{{ form_errors(form.morning_open_hours) }}</div>
					</div>
					<div class="form-group">
						{{ form_label(form.morning_close_hours) }}
						{{ form_widget(form.morning_close_hours) }}
						<div class="form-errors">{{ form_errors(form.morning_close_hours) }}</div>
					</div>
					<div class="form-group">
						{{ form_label(form.afternoon_open_hours) }}
						{{ form_widget(form.afternoon_open_hours) }}
						<div class="form-errors">{{ form_errors(form.afternoon_open_hours) }}</div>
					</div>
					<div class="form-group">
						{{ form_label(form.afternoon_close_hours) }}
						{{ form_widget(form.afternoon_close_hours) }}
						<div class="form-errors">{{ form_errors(form.afternoon_close_hours) }}</div>
					</div>
					<div class="form-group">
						{{ form_row(form.submit) }}
					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
