{% extends 'base.html.twig' %}

{% block title %}Gge Parrot - Avis
{% endblock %}

{% block body %}
	<div class="text-center">
		<div class="container-fluid py-5">
			<h1 class="titrePages display-5 fw-bold">Liste des avis</h1>
			<p class="titrePages fs-4">Il y a actuellement
				{{ (reviews|length > 0) ? reviews.getTotalItemCount : '0' }}
				avis{{ (reviews|length > 1) ? 's' : '' }}
				enregistré{{ (reviews|length > 1) ? 's' : '' }}</p>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-sm-3">
			<a href="{{ path('reviews.new') }}" class="btn btn-primary mb-4">Ajouter un avis</a>
		</div>
		<div class="col-sm-4"></div>
	</div>

	{# Message de succès lors de l'ajout, de la modification ou suppression d'un service #}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success mt-4">
			{{ message }}
		</div>
	{% endfor %}
	<div class="row">
		<div class="col">
			{% if reviews|length > 0 %}
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Catégorie</th>
							<th scope="col">Nom</th>
							<th scope="col">description</th>
							<th scope="col">Prix</th>
							<th scope="col">Est affiché</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for review in reviews %}
							<tr>
								<td scope="row">{{review.category}}</td>
								<td scope="row">{{review.name}}</td>
								<td scope="row">{{review.description}}</td>
								<td scope="row">{{review.price}}</td>
								<td scope="row">{{ (review.isIsActif == 1) ? 'Oui' : 'Non' }}</td>

								<td scope="row">
									<a class="btn btn-outline-info btn-sm" href="{{ path('reviews.edit', { id: review.id }) }}">Modifier</a>
									<a class="btn btn-outline-danger btn-sm" href="{{ path('reviews.delete', { id: review.id }) }}">Supprimer</a>
								</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>
				{# display navigation #}
				<div class="navigation mt-4">
					{{ knp_pagination_render(reviews) }}
				</div>
			{% else %}
				<p>Il n'a pas d'avis enregistré</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
